{% load static %}


<!DOCTYPE html>
<html>

<head>
    <title>Reservation Form</title>
    <link rel="stylesheet" type="text/css" href="{% static 'customer_access/reserve.css' %}">

</head>

<body style="height: 100vh;">
    <button style="width: 100px;height: 50px;font-size: 18px;
                            position:fixed;
                             right:10px;
                             top:5px;
                            font-weight: 700;
                            cursor: pointer;
                            outline: none;" type="button" class="btn btn-secondary" id="b8"
                                onclick="window.location.href='/logout'">Logout</button>

    <button style="width: 100px;height: 50px;font-size: 18px;
                            position:fixed;
                             left:10px;
                             top:5px;
                            font-weight: 700;
                            cursor: pointer;
                            
                            outline: none;" type="button" class="btn btn-secondary" id="b9"
                                onclick="window.location.href='/home'">Home</button>
                                <br><br>
    <div style="margin-top:50px">
            <h2 style="color:red">Recommendations (basic statistics)</h2>
            {% for recom in recommended %}
                <h4>-->{{ recom.0 }} Has been selected by {{ recom.1 }} customers </h4>
                {% empty %}
                  <h4>No recommendations found</h4>
            {% endfor %}
    </div>

    <div class="inreservation">

        <br><br>

        <p>Vehicle Choices</p>
        <div class="reservation">
            <form id="reservation" action="/vehicle_submission/" method="POST">
                <label>vehicle taken date</label>
                <input type="text" name="v_t_d" value="{{v_t_d}}"  readonly>
                <br><br>
                <label>Expected return date</label>
                <input type="text" name="e_r_d" value="{{e_r_d}}" readonly>
                <br><br>
                <label>Outlet Chosen</label>
                <input type="text" name="outlet" value="{{outlet_name}}"  readonly>
                <br><br>
                <label><b>Vehicles</b></label>
                <br>

                <table style="width:50%">
                   <tr>
                       <th>Plate Number</th>
                       <th>Model</th>
                       <th>number of seats</th>
                       <th>AC</th>
                       <th>Cost/day</th>
                       <th>Choice</th>
                   </tr> 
                   {% for vehicle in vehicle_list %}
                    <label for="m_{{vehicle.0}}">
                   <tr>
                        <td>{{vehicle.0}}</td>
                        <td>{{vehicle.1}}</td>
                        <td>{{vehicle.2}}</td>
                        <td>{{vehicle.3}}</td>
                        <td>{{vehicle.4}}</td>
                        <td><input type="radio" id="m_{{vehicle.0}}" name="plate-no" value="{{vehicle.0}}"></td>
                   </tr>
                    </label>
                   {% endfor %}
                </table>
                <br>
                <input type="submit" name="log" id="log" value="submit" style="width: 175px;height: 40px;font-size: 18px;
                color:  #3999dd;
                font-weight: 700;
                cursor: pointer;
                outline: none;">
                <br><br><br><br><br><br>
                <label style="font-size:30px"><b>Outlet-Name:{{outlet_name}}</b></label><br>
                <label style="font-size:30px"><b>Outlet-Phoneno:{{outlet_phone}}</b></label><br>
                <label style="font-size:30px"><b>Outlet-Mail:{{outlet_mail}}</b></label><br>
                <br>
                <br><br>
            </form>
        </div>

    </div>

   
</body>

</html>