{% load static %}


<!DOCTYPE html>
<html>

<head>
    <title>Reservation Form</title>
    <link rel="stylesheet" type="text/css" href="{% static 'customer_access/reserve.css' %}">

</head>

<body style="height: 100vh;">

    <div class="inreservation">

        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

        <p>Vehicle Choices</p><br>
        <div class="reservation">
            <form id="reservation" action="/vehicle_submission/" method="POST">
                <label>vehicle taken date</label>
                <input type="text" name="v_t_d" value="{{v_t_d}}"  readonly>
                <br><br>
                <label>Expected return date</label>
                <input type="text" name="e_r_d" value="{{e_r_d}}" readonly>
                <br><br>
                <label>Outlet Chosen</label>
                <input type="text" name="outlet" value="{{outlet_name}}"  readonly>
                <br><br>
                <label><b>Vehicles</b></label>
                <br>
                {% for vehicle in vehicle_list %}
                <input type="radio" id="{{vehicle}}" name="plate-no" value="{{vehicle}}">
                <label for={{vehicle}}>{{vehicle}}</label><br>
                {% endfor %}
    
                <br><br>
                <input type="submit" name="log" id="log" value="submit" style="width: 300px;height: 50px;font-size: 18px;
                color:  #3999dd;
                font-weight: 700;
                cursor: pointer;
                outline: none;">
                <br>
                <br><br>
            </form>
        </div>

    </div>

   
</body>

</html>