
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View reservations</title>
    <link rel="stylesheet" type="text/css" href="{% static 'customer_access/reserve.css' %}">

</head>
<body>
    
    
    <div class="inreservation">
        <br><br> <br><br>
        <h3> Hello {{username}} </h3>
    <h2>View Reservation </h2><br>  
 
        {% for res in reservations %}
        <!-- reservation_date,vehicle_taken_date,expected_return_date,reservation_status,plt_no_id -->
            <h5>{{ res.0 }}</h5>
            <ul>
                <li>vehicle taken date:{{ res.1 }}</li>
                <li>expected return date:{{ res.2 }}</li>
                <li>reservation status:{{ res.3 }}</li>
                <li>plate number:{{ res.4 }}</li>
                <br>
            </ul>
            <br>
        {% endfor %}
    </div>
   
<!-- 
    {% for location, rating, images in list_of_lists %}

...
<img>{{ images.0 }}</img>
...

{% endfor %}
     -->
    
</body>
</html>