<!DOCTYPE html>    
<html>    
<head>    
    <title>Reservation Form</title>       
</head>    
<body>    
    <h2>Reservation Page</h2><br>    
    <div class="reservation">    
    <form id="reservation" method="POST" action="">    
        <label><b>Vehicle Taking Date    
        </b>    
        </label>    
        <input type="text" name="Veh_take_date" id="Veh_take_date" placeholder="Taking Date">    
        <br><br>    
        <label><b>Expected Return Date     
        </b>    
        </label>    
        <input type="text" name="exp_ret_date" id="exp_ret_date" placeholder="Return Date">    
        <br><br>  
        <label><b>Outlet    
        </b>    
        </label>    
        <input type="text" name="outlet_name" id="outlet_name" placeholder="outlet name">    
        <br><br>  
        <input type="submit" name="log" id="log" value="submit">          
    </form>     
</div>    
</body>    
</html>  