<h1>HOME PAGE</h1>

{% block content %}
<button style="width: 100px;height: 50px;font-size: 18px;
                            
                            font-weight: 700;
                            cursor: pointer;
                            outline: none;" type="button" class="btn btn-secondary" id="b9"
                                onclick="window.location.href='/employee/logout'">Logout</button>
<h3> Hello {{empname}} </h3>
<button onclick="window.location.href='/employee/view_res/'">View Reservation</button>
<button onclick="window.location.href='/employee/view_approve/'">Finalise bill</button>
<h4> Top customer in this outlet </h4>
{% for values in cust_ids %}
	<h1>-->{{values.0}} With {{values.1}} reservations</h1>
	{% empty %}
        <h5>No customers here</h5>
{% endfor %}

{% endblock %}