html{
    background-color: #3999dd;
}

p{
    text-align: center;
    font-size: 50px;
}

.bg {
    /* The image used */
    
    background-color: #3999dd;

    /* Full height */
    height: 100%;
    
    
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.fullback{
    background-color: #3999dd;
}

#b1{
    margin-left: 24%;
}
#b1:hover{
    background: #424242;
    color: white;
    
}
#b2:hover{
    background: #424242;
    color: white;
}

