html{
    /*background-image: url(./signupbackground.jpg);*/
    background-color:    #3999dd  ;
    height: 100%;
    width: 100%;
    color: white;
}
.container{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
p{
    
    font-size: 60px;
    
}


/* .inreservation{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100%;
    padding: 0;
    margin: 0;
    width: 100%;
    margin-top: 150px;
    margin-left: 30%;
    
    align-items: center;
    justify-content: center;
    color: white;
} */
.inreservation{
    position: absolute;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50;
  border-radius: 10px;
  align-items: center;
 
}
.inreservation input{
    width: 100%;
                padding: 0 5px;
                height: 40px;
                font-size: 16px;
                border: none;
                background: white;
                outline: none;
}


#reservation{
    margin-top: 2%;
    font-size: 30px;
}
