<!DOCTYPE html>
<html>
<head>
	<title>Rent updation form</title>
</head>
<body>
	<h2>Rent updation</h2><br>    
    <div class="rent">
	<form id="rent_updation" method="POST">    
        <label>BILL ID</label>
            <input type="text" name="bid" value="{{bill_id}}" readonly>
        <br><br>
        <label>Actual Date returned</label>
            <input type="text" name="ret_date" placeholder="Actual return date">
        <br><br>  
        <input type="submit" name="log" id="log" value="submit">          
    </form>
</body>
</html>