<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3> Hello {{phoneno}} </h3>
    <h4>Reservation Page</h2><br>  
    
    
    {% for res in reservations %}
    <!-- reservation_date,vehicle_taken_date,expected_return_date,plt_no_id,customer_id,reservation_id -->
        <h5>customer_id: {{ res.4 }}</h5>
        <ul>
            <li>reservation date:{{ res.0 }}</li>
            <li>vehicle taken date:{{ res.1 }}</li>
            <li>expected return date:{{ res.2 }}</li>
            <li>reservation status:{{ res.3 }}</li>
            <li>plate number:{{ res.4 }}</li>
            <br>
            <button onclick="setGetParameter(this.id)" id="{{ res.5 }}">Cancel Reservation</button>
        </ul>
        <br>
        {% empty %}
        <h5>No desk work today, pls go service the car</h5>
    {% endfor %}
<!-- 
    {% for location, rating, images in list_of_lists %}

...
<img>{{ images.0 }}</img>
...

{% endfor %}
     -->

     <script>

        function setGetParameter(rid){
            
            let data = {id: rid};

            fetch("/employee/cancel_reservation/", {
                method: "POST",
                headers: {'Content-Type': 'application/json'} ,
                body: JSON.stringify(data)
            }).then(res => {
            console.log("Request complete! response:", res);
            window.location.href = '/employee/home/';
            });

        }
    </script>
    
</body>
</html>